<footer class="footer">
    <div class="footer_inner">
        <nav class="clearfix">
            <div class="fullSizeMenu">
                <h1>
                    <a [routerLink]="['/']">
                        <img src="assets/img/logo.png" alt="orbit">
                    </a>
                </h1>
                <ul class="footer_menu">
                    <li *ngFor="let menuItem of menu;">
                        <a [routerLink]="[menuItem.link]">{{menuItem.title}}</a>
                    </li>
                    <li class="button-facebook">
                        <a href="https://www.facebook.com/SecondOrbitOfficial/"
                           target="_blank" class="facebookButton">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="button-twitter">
                        <a href="https://twitter.com/second_orbit"
                           target="_blank" class="twitterButton">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="fullSizeFooterInquiryBox">
            <div class="footer_inquiry">
                <a href="mailto:orbit0328@gmail.com">問い合わせ</a>
            </div>
            <div class="footer_copyright">© 2017 All Rights Reserved.</div>
        </div>
        <div class="limitedFooterInquiryBox">
            <div class="footer_inquiry float-none">
                <a href="mailto:orbit0328@gmail.com">問い合わせ</a>
            </div>
            <div class="footer_copyright">© 2017 All Rights Reserved.</div>
        </div>
    </div>
</footer>

