<orb-card title="Live">
    <div class="newsBox clearfix">
        <div class="newsBox_list">
            <div class="newsBox_meta">{{detailData.date | date: 'yyyy/MM/dd'}}</div>
            <div class="newsBox_contents">
                <div class="newsBox-contents_title">{{detailData.article_title}}</div>
                <div class="newsBox-contents_detail">
                    会場 : {{detailData.venue}}<br />
                    開場 : {{detailData.enter_time | date: 'HH:mm'}}<br />
                    開演 : {{detailData.start_time | date: 'HH:mm'}}<br />
                    出演 : <span *ngFor="let performer of detailData.performer; let i = index">{{performer}}<span [hidden]="i === (detailData.performer.length - 1)">, </span></span><br /><br />
                    <br />
                    <div class="newsBox-contents_detail_article" [innerHTML]="detailData.information">
                    </div>
                    <div class="text-right">
                        <button shareButton="facebook"
                                class="mr-5"
                                [sbUrl]="webSiteUrl + shareUrl"
                                [style.backgroundColor]="share.prop.facebook.color">
                            <i [class]="share.prop.facebook.icon"></i>
                            <span>シェア</span>
                        </button>
                        <button shareButton="twitter"
                                [sbUrl]="webSiteUrl + shareUrl"
                                [style.backgroundColor]="share.prop.twitter.color"
                                [sbDescription]="detailData.title">
                            <i [class]="share.prop.twitter.icon"></i>
                            <span>ツイート</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</orb-card>

