
.more {
    text-align: right;

    a {
        display: inline-block;
        padding: 6px 24px 8px;
        color: #fff !important;
        background: #686868;
        font-size: 1.2rem;
        border-radius: 4px;
    }
}



