
.more {
    text-align: right;

    a {
        display: inline-block;
        padding: 6px 24px 8px;
        color: #fff !important;
        background: #686868;
        font-size: 1.2rem;
        border-radius: 4px;
    }
}

.fontButton {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.button-menu {
    .font-awe {
        width: 100%;
    }

    i:before {
        cursor: pointer;
        font-size: 24px;
    }
}
