

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.dis-box {
    display: -webkit-box;
    display: -moz-box;
}

.flex-right {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

.m0 {
    margin: 0;
}

.mr-5 {
    margin-right: 5px !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pr-0 {
    padding-right: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.dis-n {
    display: none !important;
}

.border-none {
    border: none !important;
}

.position-relative {
    position: relative;
}

