@import '../../@theme/sass/conf/conf';

.tabBox {
    li {
        display: inline-block;
        margin-left: 8px;
        padding: 6px 9px;
        float: left;
        border: 1px solid $border-color;
        color: $border-color;
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.2);
        background-color: #bfbfbf;
        border-color: #bfbfbf;

        &:first-child {
            margin-left: 0;
        }

        a {
            span {
                color: #fff;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }

    li {
        &:hover {
            background-color: #6fc6df;
            border-color: #6fc6df;
        }
    }

    .active {
        background: #34b1df;
        color: #fff !important;
        border-color: #34b1df !important;

        &:hover {
            background: #34b1df;
            border-color: #34b1df !important;
        }

        a {
            span {
                color: #fff !important;
            }
        }
    }

    //li {
    //    &:nth-child(1) {
    //        &.active {
    //            background: #34b1df;
    //            border-color: #34b1df !important;
    //        }
    //    }
    //}

    .nav-tabs {
        @include clearfix();
        border-bottom: 0;
    }
}

.tabBox_active {
    background: #34b1df;
    color: #fff !important;
    border-color: #34b1df !important;
}
