<div class="carouselBox" *ngIf="carouselData.length > 0">
    <ngx-carousel
            [inputs]="carouselOne">
        <ngx-item *ngFor="let carousel of carouselData;" NgxCarouselItem>
            <div class="carouselBox_itemBox" [ngSwitch]="carousel.type">
                <div *ngSwitchCase="'banner'">
                    <a [routerLink]="['/pages/' + carousel.link]">
                        <img src="{{imageRequestUrl}}/images/{{carousel.file_name}}">
                    </a>
                </div>
                <div class="carouselBox_release" *ngSwitchCase="'release'">
                    <a [routerLink]="['/pages/' + carousel.link]"
                       class="clearfix" href="#">
                        <div class="carouselBox_release_imgBox">
                            <img src="{{imageRequestUrl}}/images/{{carousel.file_name}}">
                        </div>
                        <div class="carouselBox_release_detail">
                            <div class="carouselBox_release_title">
                                {{carousel.title}}
                            </div>
                            <div class="carouselBox_release_date">
                                {{carousel.date | date: 'd.M EEE'}} Release!
                            </div>
                            <div class="carouselBox_release_comment">
                                {{carousel.detail}}
                            </div>
                            <div class="carouselBox_release_detailButton">
                                <span>詳しくはこちら</span>
                                <i class="fa fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </ngx-item>
        <button NgxCarouselPrev class='carousel_navigationLeft leftRs'>
            <i class="fa fa-angle-left"></i>
        </button>
        <button NgxCarouselNext class='carousel_navigationRight rightRs'>
            <i class="fa fa-angle-right"></i>
        </button>
    </ngx-carousel>
</div>
<orb-card title="News">
    <div class="homeBox notice">
        <ul>
            <li *ngFor="let newsList of newsListData; let newsListIndex = index"
                class="notice-list">
                <span
                   *ngIf="newsListIndex < 5">
                    <div class="notice-list_date">{{newsList.date | date: 'yyyy/MM/dd'}}</div>
                    <div class="notice-list_sentence"
                         [ngClass]="{'notice-list_sentence-icon': newsList.news_type === 'release'}"
                         [ngSwitch]="newsList.news_type">
                        <div *ngSwitchCase="'release'">
                            <a [routerLink]="['/pages/discography/detail/' + newsList._id]">
                                <span class="notice-list_icon notice-list_icon-{{newsList.type | lowercase}}">{{newsList.type | uppercase}}</span>
                                <span class="notice-list_text notice-list_iconText">{{newsList.article_title}}</span>
                            </a>
                        </div>
                        <div *ngSwitchCase="'live'">
                            <a [routerLink]="['/pages/live/detail/' + newsList._id]">
                                <span class="notice-list_text">{{newsList.article_title}}</span>
                            </a>
                        </div>
                    </div>
                </span>
            </li>
        </ul>
        <div class="more pt-10">
            <a [routerLink]="['/pages/news']">More</a>
        </div>
    </div>
</orb-card>
<orb-card title="Live">
    <div class="notice">
        <ul>
            <li *ngFor="let liveList of liveListData; let liveListIndex = index"
                class="notice-list">
                <a [routerLink]="['/pages/live/detail/' + liveList._id]"
                   *ngIf="liveListIndex < 5">
                    <div class="notice-list_date">{{liveList.date | date: 'yyyy/MM/dd'}}</div>
                    <div class="notice-list_sentence">
                        <span class="notice-list_text">{{liveList.title}}</span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="more pt-10">
            <a [routerLink]="['/pages/live']">More</a>
        </div>
    </div>
</orb-card>
<div class="row">
    <div class="col-md-6">
        <orb-card title="Facebook">
            <div class="text-center">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSecondOrbitOfficial%2F%3Fref%3Daymt_homepage_panel&tabs=timeline&width=304&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=326395917851056" width="304" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </orb-card>
    </div>
    <div class="col-md-6">
        <orb-card title="Twitter">
            <div class="text-center">
                <ngx-twitter-timeline
                        [data]="{
                            sourceType: 'url',
                            url: 'https://twitter.com/second_orbit'}"
                                            [opts]="{
                            tweetLimit: 5
                        }"
                ></ngx-twitter-timeline>
            </div>
        </orb-card>
    </div>
</div>


