

.more {
    margin: 0;
}

.homeBox {
    .notice-list_icon {
        margin-left: 14px;
    }

    .notice-list_date {
        line-height: 2rem;
    }

    .notice-list_iconText {
        margin-left: 2px;
    }
}



