@import '../../../@theme/sass/conf/conf';

.header {
    height: 64px;
    background: black;
    border-bottom: 1px solid #898989;
}

.header_inner {
    margin: auto;
    width: $content-width;
}

.header_inner {
    padding:  20px 0;

    h1 {
        float: left;

        img {
            width: 180px;
        }

        a {
            display: inline-block;
            margin-top: -8px;
        }
    }

    a {
        color: #fff;
        font-weight: bold;
        font-size: 1.8rem;
    }
}

.header_menu {
    display: inline-block;
    margin-top: 5px;
    float: right;

    li {
        float: left;
        margin-left: 30px;
        transition: all 300ms 0s ease;

        &:hover {
            text-shadow: 0 0 30px rgba(0, 196, 241, 1), 0 0 30px rgba(0, 196, 241, 1), 0 0 30px rgba(0, 196, 241, 1), 0 0 30px rgba(0, 196, 241, 1);
        }
    }
}

.button-facebook, .button-twitter {
    margin-top: -8px;
}

.button-twitter {
    margin-left: 14px !important;
}

.limitedMenuBox {
    padding: 17px;
}

.limitedMenuBox_menu {
    li {
        border-top: 1px solid #898989;

        &:first-child {
            border: none;
        }
    }

    a {
        display: block;
        padding-left: 4px;
        color: #fff;
        line-height: 42px;
        font-size: 16px;
    }
}
