<header id="header" class="header">
    <div class="header_inner">
        <nav class="clearfix">
            <h1>
                <a href="#">
                    <img src="assets/img/logo.png" alt="orbit">
                </a>
            </h1>
            <ul class="header_menu">
                <li *ngFor="let menuItem of menu;">
                    <a href="{{menuItem.link}}">{{menuItem.title}}</a>
                </li>
                <li class="button-facebook">
                    <a href="https://www.facebook.com/SecondOrbitOfficial/" [target]="_blank">
                        <img src="assets/img/facebook_button.png" alt="facebook">
                    </a>
                </li>
                <li class="button-twitter">
                    <a href="https://twitter.com/second_orbit" [target]="_blank">
                        <img src="assets/img/twitter_button.png" alt="twitter">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
