<orb-card title="Discography">
    <div class="discographyDetailBox" *ngIf="detailData">
        <div class="discographyDetailBox_dateBox position-relative">
            <span class="notice-list_icon notice-list_icon-{{detailData.disc_number[0] | lowercase}}">{{detailData.disc_number[0]}}</span>
            <div class="discographyDetailBox_dateBox_date">{{detailData.date | date: 'yyyy/MM/dd'}}</div>
        </div>
        <div class="discographyDetailBox_wrap">
            <div class="discographyDetailBox_title">
                {{detailData.title}}
            </div>
            <div class="discographyDetailBox_contentBox clearfix">
                <div class="discographyDetailBox_contentBox_image">
                    <img src="{{imageRequestUrl}}/images/{{detailData.file_name}}">
                </div>
                <div class="discographyDetailBox_contentBox_songListBox">
                    <div class="discographyDetailBox_contentBox_songListBox_wrap">
                        <!--<div class="discographyDetailBox_contentBox_songListBox_productNumber">{{detailData.product_number }}</div>-->
                        <!--<div class="discographyDetailBox_contentBox_songListBox_price">¥{{detailData.price_value }}</div>-->
                        <div *ngFor="let detail of detailData.disc_number; let detailDataIndex = index">
                            <div class="discographyDetailBox_contentBox_songListBox_discNumber">
                                <span>Disc {{detailDataIndex + 1}}</span>
                            </div>
                            <ul *ngFor="let musicList of detailData.music_list[detailDataIndex]; let musicListIndex = index"
                                class="discographyDetailBox_contentBox_songListBox_listBox">
                                <li>
                                    <span>{{musicListIndex + 1}}.</span>
                                    <span>{{musicList}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="discographyDetailBox_contentBox_downloadBox">
                        <div>
                            <div class="discographyDetailBox_contentBox_downloadBox_title">ダウンロード</div>
                        </div>
                        <div class="discographyDetailBox_contentBox_downloadBox_list" *ngFor="let download of downloadList;">
                            <a href="{{download.value}}" target="_blank">
                                <img src="assets/img/download/{{download.name}}.png">
                            </a>
                        </div>
                        <div class="discographyDetailBox_contentBox_downloadBox_list" *ngFor="let item of downloadItem;">
                            <a href="{{item.link}}" target="_blank">
                                <img src="assets/img/download/{{item.name}}.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="detailData" class="text-right">
        <button shareButton="facebook"
                class="mr-5"
                [url]="webSiteUrl + shareUrl"
                [style.backgroundColor]="share.prop.facebook.color">
            <i class="fa fa-facebook-f"></i>
            <span>シェア</span>
        </button>
        <button shareButton="twitter"
                [url]="webSiteUrl + shareUrl"
                [style.backgroundColor]="share.prop.twitter.color"
                [description]="detailData.title || null">
            <i class="fa fa-twitter"></i>
            <span>ツイート</span>
        </button>
    </div>

</orb-card>

